* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background: black;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 60px;
    padding: 30px;
    height: 60px;
}

.navRight ul {
    display: flex;
    gap: 20px;

}

.navRight ul li {
    list-style: none;
    font-size: 1.5rem;
}

.navRight ul li a {
    color: black;
    text-decoration: none;
    background: white;
    padding: 5px;
    width: 100px;
    height: 20px;
    border-radius: 25px;
    transition: 0.2s ease-in;
}

.navRight ul li a:hover {
    color: white;
    background: grey;

}

.navRight ul li:hover {
    transform: scale(0.98);
}

section {
    padding: 10px 50px;
    margin: 50px 0px;
}

.home h1 {
    margin: auto;
    text-align: center;
    font-size: 4rem;
}

.home h1 div {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.home p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.6rem;
}

.cards_sec h1 {
    font-size: 2.6rem;
    margin: auto;
    text-align: center;
}

.card {
    background: beige;
    padding: 20px 10px;
    height: 340px;
    width: 300px;
    border-radius: 25px;
    box-shadow: -2px 2px 4px 0px black;
    /*x-axix,y-axis,blurness,distance,colour*/
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in;
}

.title {
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid black;
    margin-bottom: 17px;
}

.content p {
    font-size: 1.1rem;
    text-align: justify;
}

.btn {
    background-color: white;
    padding: 8px;
    width: 100%;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    margin-top: 35px;
    font-weight: bold;
    cursor: pointer;

}

.card_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-top: 30px;
    justify-content: space-between;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.about {
    width: 50%;
    background-color: aquamarine;

}

.contact {
    width: 50%;
    background-color: bisque;
}

.common {
    padding: 2rem;
    border-radius: 20px;
}


.common h1 {
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.common p {
    text-align: justify;
    font-size: 1.3rem;
}
.contact_detail {
    margin-top: 8px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    padding: 5px;
}
@media screen and (max-width:1000px ) {
 .card_grid{
    justify-content: center;
    grid-template-columns: auto auto;
 }
 .details{
    flex-direction: column;
 }  
 .about{
    width: 100%;
 } 
 .contact{
    width: 100%;
 }
}
@media  screen and (max-width: 720px) {
    .home h1{
        font-size: 3rem ;
    }
    .home p{
        font-size: 1.4rem ;
    }
    .card_grid{

        grid-template-columns: auto;
    }
}
@media screen and (max-width:560px) {
    nav {
        padding: 10px;
    }

    .navRight ul li {
        font-size: 1.2rem;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .cards_sec h1 {
        font-size: 2.5rem;
    }

    section {
        padding: 10px;
    }
    footer{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:420px) {
    .logo {
        height: 40px;
        width: 40px;
        padding: 20px;
        font-size: 0.6rem;
    }
    .navRight ul {
        gap: 10px;
    }
    .navRight ul li {
        font-size: 1rem;
    }
    .home h1 {
        font-size: 2rem;
    }
    .cards_sec h1 {
        font-size: 2rem;
    }
    .title {
        font-size: 1.8rem;
    }
    .content p {
        font-size: 1.1rem;
    }
    .common p {
        font-size: 1.1rem;
    }
    footer{
        font-size: 1rem;
    }
}
@media screen and (max-width:330px) {
    .logo {
        height: 30px;
        width: 30px;
        padding: 15px;
        font-size: 0.5rem
    }
    .navRight ul li {
        font-size: 0.7rem;
    }
    .home h1 {
        font-size: 1.5rem;
    }
    .home p {
        font-size: 1rem;
    }
    .card {
        padding: 30px 10px;
        width: 250px;
        height: 360px;
    }
    .common {
        padding: 1rem;
    }
    .common p {
        font-size: 1rem;
    }
}